# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Build
build/
dist/
*.spec.bak

# PyInstaller
*.manifest
*.pkg

# Logs
*.log

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Runtime Data
sessions/
config/
data/

# Executables
*.exe